@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Default light/dark classes for body */
body.light {
    @apply bg-gray-200 text-gray-900 transition-colors duration-300;
}

body.dark {
    @apply bg-gray-900 text-white transition-colors duration-300;
}